/* sahel */
@font-face {
  font-family: sahel;
  src: url("./sahel/Sahel.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: sahel;
  src: url("./sahel/Sahel-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: sahel;
  src: url("./sahel/Sahel-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: sahel;
  src: url("./sahel/Sahel-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: sahel;
  src: url("./sahel/Sahel-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
